:root {
	--nav-dark-0: #322f33;
	--nav-dark-1: #616161;
	--nav-dark-2: #656266;
	--nav-dark-3: #303030;
	--text-dark-0: #475467;
	--text-dark-1: #cfcfcf;
	--text-dark-2: #e3e3e3;

/* font colors */
--fontColor-light : #E3E3E3;
--fontColor-mid: #616161;
--bg-grey: #303030;

/* strokes for design layout */
--stroke-color-s50 : #DBDBDB;
--stroke-color-s100: #E1E1E1;
--stroke-color-s200: #616161;


/* colors used for diffrent states */
--states-hover:#F1F1F1;
--states-pressed : #F0F0F0;
--states-focused: #005BD3;

/* White and the layout background color */
--plain-white : #FFFFFF;
--plain-background: #F1F1F1;

}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
	list-style: none;
	border: none;
	outline: none;
}

html{
  scroll-behavior: smooth;
}

body{
    height:100vh;
    background: var(--Background, #F1F1F1);

}


header{
  position: relative;
	width: 100%;
	height: 60px;
	padding: 8px;
	display: flex;
	align-items: center;
	background: #1A1A1A;
 
}


.shopify-logo {
  margin-right: auto;
	border: 1px solid transparent;
	border-radius: 4px;
}

.shopify-logo:active,
.shopify-logo:focus {
	border-color: var(--nav-dark-3);
}

header a {
	text-decoration: none;
	color: var(--text-dark-2);
	border: 1px solid transparent;
}

header a:focus {
	border-color: #005bd4;
}

/* Media query for screens smaller than 600px */
@media (min-width: 720px) {
	.shopify-logo img {
		content: url(https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg);
	}

  header .user-notification{
    width: 210px;
    align-items: center;
  }

  header .btn-userprofile .span-btn {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 2px;
	}

	.user-notification .notification-button {
		width: 40px;
		height: 40px;
	}

  header .user-notification .btn-userprofile {
		position: relative;
		width: 75%;
		height: 40px;
		justify-content: space-between;
		padding: 10px;
		padding-right: 40px;
		border-radius: 8px;
		background: var(--nav-dark-3);
	}

	header .btn-userprofile .username {
		display: block;
		color: var(--text-dark-1);
		font-size: 13px;
	}


}

header form {
	flex: 0 0 40%;
	display: flex;
	align-items: center;
	gap:10px;
	width: 70%;
	height: 30px;
	margin-right: auto;
	padding: 15px 10px;
	background: var(--nav-dark-3);
	border: 1px solid var(--nav-dark-1);
	border-radius: 8px;
}

header form img {
	flex: 0 0 20%;
	max-width: 15px;
	filter: invert(80%);
}

header form:hover {
	border-color: #e3e3e3;
}

header form:focus-within {
	border-color: #e3e3e3;
	border-width: 2px;
}

.searchbox {
	flex: 0 0 90%;
	max-width: 70%;
	color: var(--text-dark-1);
	font-size: 14px;
	background: none;
	border: none;
	outline: none;
}

.user-notification {
  display: flex;
}


.user-notification .notification-button {
  width: 35px;
	height: 35px;
	margin-right: auto;
	padding: 8px;
	border-radius: 8px;
	background: var(--nav-dark-3);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.user-notification button:focus,
.user-notification button:active{
  border: 2px solid var(--text-dark-2);
}


.user-notification .notification-button img {
  filter: invert(100%);
}

.btn-userprofile {
  width: 35px;
	height: 35px;
	border-radius: 8px;
	background: #303030;
	display: flex;
	align-items: center;
	justify-content: center;
}


.btn-userprofile .username{
  display:none;
}

.user-notification .span-btn {
	width: 30px;
	height: 30px;
	border-radius: 8px;
	background: #36fba1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
}

.btn-userprofile:hover,
.user-notification:hover {
	cursor: pointer;
	background: none;
}


@media screen and (max-width:768px) {
  .btn-frame{
  width:32px;
  height:32px;
  background: none;
  gap: 0px;
  border-radius: 8px;
  padding:0px;
  
  }

  .btn-frame p {
    display: none;
  }
  .span-btn{
   width:100%;
   height:100%;
   
  }
}




.btn-frame:hover{
border-radius: 8px;
background: var(--font-mid-2, #616161);
}

.btn-frame:pressed{
border-radius: 8px;
background: var(--grey-grey-50, #656266);
}

.btn-frame:focus{
    border-radius: 8px;
    background: var(--grey-grey-50, #656266);
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
}

.btn-frame p {
    font-size: 12;
    font-family: inter;
    color:#fff;
}

@media screen and (max-width:600px) {
    .btn-frame p{
        display:none;
    }
    
}
.span-btn {
align-items: right;
justify-content: space-between;
border-radius: 6px;
background: #36FBA1;
display: flex;
width:28px;
height:40%;
padding: 9px 5px 10px 5px;
justify-content: center;
align-items: center;
color: rgba(0, 0, 0, 0.40);
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
}


.modalpopup{
    background-color: #005BD3;
    height:50px;
    width:200px;
}

.alertbox {
    display:none;
}

.alertbox.show{
display: block;
top:80px;
position: fixed;
z-index: 20;
right: 20;
padding: 16px;
gap: 16px;
border-radius: 14px;
border: 1px solid var(--stroke-s-50, #DBDBDB);
background: var(--White, #FFF);
width:383px;
height: 150px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}


@media screen and (max-width:480px) {
  .alertbox.show{
    display: block;
    top:70px;
    margin:0 auto;
    position: fixed;
    z-index: 20;
    padding: 16px;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    width:330px;
    height: 150px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    }
  
}

.alert-group-head {
    display:flex;
    justify-content: space-between;  
    margin:10px 0px 10px 0px; 
}

.alert-icons button {
  background: none;
  filter: invert(100%);
}

.alert-icons{
  gap:30px;;
}

.alert-head {
color: var(--font-dark, var(--grey-g-200, #303030));
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
justify-content: space-between;
}

.alert-svg-head{
    right:10;
    float: right;
}

#alertBox .content {
color: var(--font-mid-2, #616161);
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 18.2px */
background: var(--states-hover, #F1F1F1);
display: flex;
padding: 16px;
align-items: center;
gap: 8px;
}


.btn-userprofile {
    background: none;
    border: none;
    position: relative;
    }

.user-profile-alert{
    display:none;
}


.user-profile-alert.show{
display: inline-block;
top:80px;
position: fixed;
z-index: 19;
right: 20;
padding: 10px;
gap: 16px;
border-radius: 14px;
border: 1px solid var(--stroke-s-50, #DBDBDB);
background: var(--White, #FFF);
width:320px;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:480px) {
  .user-profile-alert.show{
    display: inline-block;
    top:70px;
    position: fixed;
    z-index: 19;
    right: 20;
    padding: 10px;
    gap: 16px;
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    background: var(--White, #FFF);
    width:320px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    }
  
}



.btn-frame-add{
    display: flex;
    padding: 4px 12px 4px 8px;
    color: var(--font-dark, var(--grey-g-200, #303030));
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--states-hover, #F1F1F1);
    justify-content: space-between;

}

.btn-frame-add img{
filter: invert(100%);
}
.btn-frame-add p{
  flex: 0 0 70%;
  max-width: 100%;
  font-size: 13px;
  margin-bottom: unset;
  }

.btn-frame-content {
    display: flex;
    align-items: center; /* Center the image vertically */
  }
  
.text {
    margin-left: 8px;
}


.btn-frame-add2{
    display: flex;
    padding: 4px 12px 4px 8px;
    color: var(--font-dark, var(--grey-g-200, #303030));
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 18.2px */
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 10px;
}

.btn-frame-content2 {
    display: flex;
    align-items: center; /* Center the image vertically */
  }
  
.text {
    margin-left: 8px;
}


.user-profile-list {
    width:100%;
}

.user-profile-list ul {
    color: var(--font-dark, var(--grey-g-200, #303030));
list-style-type: none;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 250%; /* 18.2px */
    margin: 0;
}

.user-profile-list li:hover {
    background: var(--states-hover, #F1F1F1);
    border-radius: 8px;
}


.list-email{
    line-height: 1;
    margin-bottom:10px;
    color: var(--grey-grey-100, var(--font-mid-2, #616161));
/* Text-12/regular */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
}

.list-btn {
    width:100%;
    background: none;
    border:none;
    text-align: left;
    padding:10px;
    color: var(--grey-grey-100, var(--font-mid-2, #616161));
    /* Text-12/regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.list-btn:hover {
    background: var(--states-hover, #F1F1F1);
    padding:10px;
    border-radius: 8px;
    
}


main{
	width:100%;
	height: auto;
	margin-top: 20px;
	}
	
	.hero{
	margin-top: 30px;
	  width: 100%;
	  height:100px;
	  margin: 0 auto;
	  justify-content: space-between;
	  border-radius: 8px;
	  background: var(--grey-grey-300, #1A1A1A);
	  display: flex;
	  justify-content: space-between;
	  border-radius: 0px;
	  padding:10px;

	  }
	  

	  .hero p {
		max-width: 90%;
		font-size: 14px;
		margin-bottom: 12px;
		color:#fff;
	}

	
	  .hero-button {
		position: absolute;
		margin-top: 50px;
	height: 30px;
	  padding: 6px;
	  align-items: center;
	  border-radius: 6px;
	  border: 1px solid rgba(0, 0, 0, 0.10);
	  background: var(--White, #FFF);
	  box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
	  cursor: pointer;
	  }

	  #closePlan{
		animation: fadeOut 1s ease-in;
		filter: invert(100%);
		cursor:pointer;
		height:30px;
	  }
	  
	  @keyframes fadeOut {
		from {
			opacity: 0;
		}
		to {
			opacity: 100;
		}
	  }
	
	
	  main .main-menu {
		width: 100%;
		height: auto;
		overflow: hidden;
		position: relative;
		background: #ffffff;
		margin-top: 20px;
		padding: 20px 8px;
		border: 1px solid var(--text-dark-1);
	}
	
	.main-menu > button {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-radius: 8px;
		cursor: pointer;
	}
	
	.main-menu > button:hover,
	.main-menu > button:active,
	.main-menu > button:focus {
		border-color: #005bd4;
	}
	
	.main-menu .setup-guide h2 {
		color: var(--nav-dark-3);
		font-size: 16px;
		margin-bottom: 5px;
	}
	
	.main-menu .setup-guide p {
		width: 90%;
		font-size: 13px;
		color: var(--nav-dark-3);
		margin-bottom: 10px;
	}
	
	.main-menu .setup-guide .progress-count span {
		font-size: 12px;
	}
	
	.main-menu .setup-guide .task {
		width: 165px;
		display: flex;
		align-items: center;
	}
	
	.main-menu .setup-guide .progress-bar {
		width: 100px;
		height: 3px;
		border-radius: 10px;
		background: var(--text-dark-1);
		margin-bottom: 8px;
		overflow: hidden;
	}
	.main-menu .setup-guide .progress {
		/* width: calc(100% / 5); */
		width: 0;
		height: 100%;
		background: var(--nav-dark-0);
		transition: width 0.2s ease;
	}
	
	.main-menu .accordion {
		display: none;
		width: 100%;
		height: auto;
		transition: 2s ease;
	}
	
	.accordion .menu-item {
		display: flex;
		width: 100%;
		height: 45px;
		overflow: hidden;
		padding: 8px;
		padding-left: 40px;
		border-radius: 10px;
		position: relative;
	}
	
	.accordion .menu-item .image {
		display: none;
	}
	
	.accordion .title{
		background: none;
	}
	.accordion .menu-item.item--active {
		background: var(--text-dark-2);
		height: auto;
	}
	
	.menu-item .check {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 5px;
		left: 10px;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 50%;
	}
	
	.menu-item .check[aria-checked="true"] img {
		filter: unset;
		animation: roll 0.3s linear forwards;
	}
	
	@keyframes roll {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}
	
	.menu-item .check:hover,
	.menu-item .check:focus {
		border-color: var(--text-dark-0);
	}
	
	.menu-item .title {
		font-size: 13px;
		margin-bottom: 20px;
		padding: 2px;
		color: var(--nav-dark-0);
		cursor: pointer;
	}
	
	.menu-item .desc {
		color: var(--nav-dark-0);
		font-size: 12px;
		width: 90%;
		margin-bottom: 15px;
	}
	
	.main-menu .desc a {
		color: #005bd4;
		font-size: 13px;
	}
	
	.menu-item .check img {
		max-width: 100%;
		filter: invert(100%);
	}
	
	.menu-item .buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 240px;
	}
	
	.menu-item .buttons a {
		color: var(--nav-dark-0);
		font-size: 13px;
	}
	
	.menu-item .buttons .customize {
		background: var(--nav-dark-3);
		padding: 5px 10px;
		color: var(--text-dark-2);
		font-size: 12px;
		border: 1px solid transparent;
		border-radius: 8px;
		margin-bottom: 5px;
		cursor: pointer;
	}
	
	.menu-item .buttons .customize:hover,
	.menu-item .buttons .customize:focus {
		border-color: var(--text-dark-1);
	}


@media (min-width:680px) {

	header{
		width:100%;
	}
	main {
		margin:0 auto;
		width:80%;
	}

	.hero {
		margin-top: 20px;
		align-items: center;
	}

	.hero-button{
		position: absolute;
		margin-top: 50px;
	}
}

@media (min-width:457px) {

	header{
		width:100%;
	}
	main {
		margin:0 auto;
		width:100%;
	}

	.hero {
		margin-top: 20px;
		align-items: center;
	}

	.hero-button{
		position: absolute;
		margin-top: 50px;
	}
}

	@media (min-width: 720px) {
		body{
			padding: 0;
			margin: 0;
		}
		header{
			width: auto;
		}
		main {
			padding:15px;
			width: 65%;
			margin: 0 auto;
		}

		.hero{
			margin-top: 20px;
			  width: 100%;
			  height:56px;
			  margin: 0 auto;
			  justify-content: space-between;
			  border-radius: 8px;
			  background: var(--grey-grey-300, #1A1A1A);
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  padding:20px;
			  }


			  
	  .hero p {
		flex: 0 0 70%;
		max-width: 100%;
		font-size: 13px;
		margin-bottom: unset;
		color:#fff;
	}

	
	  .hero-button {
		position: relative;
		margin-top: 0px;
	height: 30px;
	  padding: 6px 12px;
	  align-items: center;
	  border-radius: 6px;
	  border: 1px solid rgba(0, 0, 0, 0.10);
	  background: var(--White, #FFF);
	  box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
	  cursor: pointer;
	  }


		main .main-menu {
			width: 100%;
			position: relative;
			background: #ffffff;
			margin-top: 20px;
			padding: 20px 8px;
			border: 1px solid var(--text-dark-1);
		}
	
		.main-menu > button {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid transparent;
			border-radius: 8px;
			cursor: pointer;
		}
	
		.main-menu > button:hover,
		.main-menu > button:active,
		.main-menu > button:focus {
			border-color: #005bd4;
		}
	
		.main-menu .setup-guide h2 {
			color: var(--nav-dark-3);
			font-size: 16px;
			margin-bottom: 5px;
		}
	
		.main-menu .setup-guide p {
			width: 90%;
			font-size: 13px;
			color: var(--nav-dark-3);
			margin-bottom: 10px;
		}
	
		.main-menu .setup-guide .progress-count span {
			font-size: 12px;
		}
	
		.main-menu .setup-guide .task {
			width: 165px;
			display: flex;
			align-items: center;
		}
	
		.main-menu .setup-guide .progress-bar {
			width: 100px;
			height: 3px;
			border-radius: 10px;
			background: var(--text-dark-1);
			margin-bottom: 8px;
			overflow: hidden;
		}
	
		.main-menu .menu .container {
			margin-right: auto;
		}
	
		.menu-item .buttons .customize {
			background: var(--nav-dark-3);
			padding: 5px 10px;
			color: var(--text-dark-2);
			font-size: 12px;
			border: 1px solid transparent;
			border-radius: 8px;
			margin-bottom: 5px;
			cursor: pointer;
		}
	
		.accordion .menu-item.item--active .image {
			margin: unset;
		}
	
		.accordion .menu-item .image {
			margin-top: 50px;
			display: block;
			max-width: 120px;
		}
	
		.accordion .menu-item .image img {
			max-width: 100%;
		}
	}
	


	@media (min-width: 680px) {
		.accordion .menu-item.item--active .image {
			margin: unset;
		}
	
		.accordion .menu-item .image {
			margin-top: 50px;
			display: block;
			width: 150px;
		}
	
		.accordion .menu-item .image img {
			width: 100%;
		}
	
		.accordion .menu-item .buttons {
			max-width: 200px;
		}
	}
	